@using HomeworkPlatform.Models;
@model IList<HomeworkModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12" style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 1em;">
    <h2 class="d-block">@ViewBag.Title</h2>
    @Html.ActionLink("分享作業", "Upload", "Topic", new { @id = ViewBag.topic_id }, new { @class = "btn btn-success" })
</div>


<hr/>
<div class="row">
    @if (Model != null)
    {
        foreach (var data in Model)
        {
            try
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            Uploader : @data.Author <span class="badge badge-dark"> 1000 kb </span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@data.Title</h5><time> 2018/06/17 20:15:12 </time>
                            <p id="content" class="card-text">@Html.Raw(HttpUtility.HtmlDecode(data.Content))</p>
                            @Html.ActionLink("查看", "Detail", "Topic", new { @id = data.HomeworkId }, new { @class = "btn btn-primary w-100" })
                        </div>

                    </div>


                </div>
            }
            catch (Exception e)
            {
            }

        }
    }

    
</div>

