@using HomeworkPlatform.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}

<h2 style="margin-top: 1em;">@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="登入" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("註冊為新使用者", "Register")
                </p>
                @* 如果要忘記密碼在將這段註解刪除
                    <p>
                        @Html.ActionLink("忘記密碼?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <h4>作業論壇 1.0</h4>
            <hr />
            <div>
                <img src="~/Static/Images/Logo.png" style="width: 50%; height: 50%;" alt="" />
                <p>
                    三個臭皮匠，勝過一個諸葛亮。<br/>
                    這是一個公開的作業討論平台，在這邊透過分享自己的作業與他人互相學習！<br/>
                    同學就是要這樣拿來用的 ─洪培軒
                </p>
            </div>
        </section>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}